@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Come and play</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
</div>
